[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
tensorflow = "~=1.13"
numpy = "*"
pandas = "==0.24.2"
scikit-learn = "*"
protobuf = "3.20.0"
Pillow = "*"

[requires]
python_version = "3.7"

